<?xml version="1.0" encoding="utf-8"?>
<plugin id="com.cordova.plugin.baidulocation" version="0.0.1" 
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>BaiduLocation4Cordova</name> 
    <js-module name="BaiduLocation4Cordova" src="www/baidulocation.js">
        <clobbers target="window.baiduLocation"/>
    </js-module>
    <platform name="android">
        <source-file src="src/android/BaiduLocation4Cordova.java" target-dir="src/com/cordova/plugin/baidulocation"/>
		
		<config-file parent="/*" target="res/xml/config.xml">
            <feature name="BaiduLocation4Cordova">
                <param name="android-package" value="com.cordova.plugin.baidulocation.BaiduLocation4Cordova"/>
            </feature>
        </config-file> 
		<config-file target="AndroidManifest.xml" parent="/manifest/application">  
			<service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote">
			</service>
			<meta-data android:name="com.baidu.lbsapi.API_KEY" android:value="$API_KEY" />		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest">  
			<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
			<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
			<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
			<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
			<uses-permission android:name="android.permission.READ_LOGS"></uses-permission>
        </config-file>
		 <source-file src="libs/locSDK_5.01.jar" target-dir="libs"/>
		 <source-file src="libs/arm64-v8a/liblocSDK5.so" target-dir="libs/arm64-v8a"/>
		 <source-file src="libs/armeabi/liblocSDK5.so" target-dir="libs/armeabi"/>
		 <source-file src="libs/armeabi-v7a/liblocSDK5.so" target-dir="libs/armeabi-v7a"/>
		 <source-file src="libs/mips/liblocSDK5.so" target-dir="libs/mips"/>
		 <source-file src="libs/mips64/liblocSDK5.so" target-dir="libs/mips64"/>
		 <source-file src="libs/x86/liblocSDK5.so" target-dir="libs/x86"/>
		 <source-file src="libs/x86_64/liblocSDK5.so" target-dir="libs/x86_64"/>
	</platform>
</plugin>
